

/* Google Fonts Raleway And Inter*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



.font-inter{

    font-family: "Inter", sans-serif;

}
.font-raleway{

    font-family: "Raleway", sans-serif;
}

thead th{

    padding: 5px 30px 5px 30px;

}

tbody td{

    padding: 5px 30px 5px 30px;
    color: #03071299;

}



